.menu {
    background-color: var(--color-grey-5);
    padding: 2rem 0;
  }
  
  .menu-content {
    justify-content: space-between;
  }
  
  .resume {
    justify-content: space-between;
    padding: 2rem 0;
  }
  
  .nav {
    display: flex;
    justify-content: end;
    gap: 0.625rem;
  }
  
  .value__sum {
    justify-content: space-between;
  }
  
  .sum__value {
    background-color: var(--color-grey-5);
    border: 1.5px solid var(--color-grey-4);
    border-radius: var(--radius-1);
    color: var(--color-grey-1);
    padding: 0.5rem 1rem;
    height: 2.625rem;
  }
  
  .box-outline {
    display: flex;
    background-color: var(--fixed-white);
    border: 1.5px solid var(--color-grey-4);
    border-radius: var(--radius-1);
    color: var(--color-grey-1);
    padding: 0.5rem 1rem;
    height: 2.625rem;
  }
  
  .box-outline:hover {
    background-color: var(--fixed-white);
    border: 1.5px solid var(--color-brand-1);
  }
  
  .ul__listed {
    gap: 1.25rem;
    list-style: none;
    flex-direction: column;
    margin-top: 2rem;
  }
  
  .start {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  
  .li__btn {
    gap: 1rem;
  }
  
  .value__start{
    display: flex;
    flex-direction: row;
  
  
  }

